.json-highlight {
  background-color: #272822;
  color: #f8f8f2;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
}

.json-output .number {
  color: #d19a66;
}

.json-output .key {
  color: #93c763;
}

.json-output .string {
  color: #ce9178;
}

.json-output .boolean {
  color: #569cd6;
}

.json-output .null {
  color: #569cd6;
}

/* Dark Mode JSON Syntax Highlighting */
.dark-mode .json-output .number {
  color: #f8f8f2;
}

.dark-mode .json-output .key {
  color: #a6e22e;
}

.dark-mode .json-output .string {
  color: #f92672;
}

.dark-mode .json-output .boolean {
  color: #66d9ef;
}

.dark-mode .json-output .null {
  color: #66d9ef;
}