body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
  margin: 5px 0;
}

.subtitle {
  color: #666;
  margin: 0;
}

.request-section,
.response-section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

select,
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode-label {
  color: #fff;
  margin: 0;
  margin-left: 10px;
}

/* Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode label,
.dark-mode pre {
  color: #fff;
}

.dark-mode input,
.dark-mode select,
.dark-mode textarea {
  background-color: #444;
  color: #fff;
  border: 1px solid #666;
}

.dark-mode button {
  background-color: #4caf50;
  color: #fff;
  border: none;
}

.json-highlight {
  background-color: #272822;
  color: #f8f8f2;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
}

.json-output .number {
  color: #d19a66;
}

.json-output .key {
  color: #93c763;
}

.json-output .string {
  color: #ce9178;
}

.json-output .boolean {
  color: #569cd6;
}

.json-output .null {
  color: #569cd6;
}

/* Dark Mode JSON Syntax Highlighting */
.dark-mode .json-output .number {
  color: #f8f8f2;
}

.dark-mode .json-output .key {
  color: #a6e22e;
}

.dark-mode .json-output .string {
  color: #f92672;
}

.dark-mode .json-output .boolean {
  color: #66d9ef;
}

.dark-mode .json-output .null {
  color: #66d9ef;
}
